:root {
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);
  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);
  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%);
  --heading-font-family: "Raleway", sans-serif;
  --default-font-family: "Open Sans", sans-serif;
}

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: var(--default-font-family);
}

.container {
  margin: 0px auto;
  padding: 40px 90px;
  max-width: 100%;
}

li {
  list-style: none;
  display: inline-block;
  margin: 20px;
  font-size: 17px;
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 36px;
}
.content {
  margin-top: 20px;
  padding: 0 50px;
}
.details {
  margin: 90px 0;
}

p {
  font-size: 17px;
  line-height: 1.4;
}

.hero-img {
  width: 900px;
  height: 400px;
  margin: 0 20px;
}
.get-started {
  display: flex;
}
::placeholder {
  font-size: 13px;
  opacity: 0.6;
  font-family: var(--heading-font-family);
}
input {
  width: 380px;
  height: 50px;
  padding: 0 20px;
}

.btn-primary {
  width: 180px;
  height: 50px;
  margin: 0 10px;
  padding: 0 20px;
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 14px;
}

.fylo-link a {
  color: var(--Moderate-Cyan);
  margin-top: 20px;
  font-size: 17.5px;
}

.arrow-icon {
  margin-bottom: 10px;
  height: 18px;
}

img#background-image {
  height: 6%;
  margin-bottom: -40px;
}
.content-img {
  width: 500px;
  height: 400px;
  margin: 90px 10px;
}

.product-details {
  margin: 50px 0;
  padding: 0 50px;
}

.content-section {
  background-color: var(--Light-Grayish-Blue);
  padding: 90px 50px;
}

.product-details h1 {
  font-size: 32px;
}

.fylo-review {
  background-color: white;
  border-radius: 5px;
  width: 80%;
  padding: 20px;
  box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.2);
}

.fylo-review p {
  font-family: var(--heading-font-family);
  font-size: 15px;
  line-height: 1.7;
}

.icon-quote {
  margin-left: 15px;
}

.fylo-founder img {
  border-radius: 50px;
  width: 50px;
  margin-left: 20px;
}

.fylo-founder {
  display: flex;
}

.fylo-founder h4 {
  font-family: var(--heading-font-family);
  font-size: 18px;
  font-weight: 700;
}

.fylo-review h4 {
  margin-left: 10px;
}

.founder-title {
  margin-left: 10px;
  margin-top: -8px;
  font-size: 12px;
}

.fylo-review p {
  margin-left: 10px;
}

.sign-up {
  background-color: var(--Desaturated-Blue);
  color: white;
  padding: 100px;
}

.sign-up h2 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 29px;
}

.sign-up p {
  font-size: 18px;
  line-height: 1.5;
}

.sign-up input {
  width: 500px;
  height: 50px;
  padding: 0 20px;
}

.sign-up .btn-primary {
  width: 250px;
  height: 50px;
  margin: 10px 0;
}

.contact-section li {
  display: list-item;
  margin: 20px;
  font-size: 17px;
}

.contact-section {
  background-color: var(--Very-Dark-Blue);
  color: white;
  padding: 80px;
  margin: auto;
}

.contact-section img {
  color: white;
}

footer .social-links a {
  margin: 0px 20px;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 10px 15px;
}

.contact-phone,
.contact-email {
  display: flex;
}

.icon-phone {
  margin-top: 23px;
  height: 20px;
}

.icon-email {
  width: 20px;
  height: 15px;
}

@media screen and (min-width: 360px) and (max-width: 1440px) {
  html,
  body {
    margin-top: 20px;
    overflow-x: hidden;
  }
  body {
    position: relative;
  }

  .container {
    padding: 0px;
    margin: 0px;
  }
  .fylo-logo {
    margin-left: 10px;
    width: 100px;
    margin-bottom: 10px;
  }
  li {
    font-size: 12px;
    margin: 1px 15px;
  }

  .hero-img {
    margin: 30px 0px;
    height: 300px;
  }

  .content {
    padding: 20px;
  }

  h1 {
    font-size: 26px;
    text-align: center;
    line-height: 1.5;
  }
  .content p {
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    opacity: 0.7;
  }

  input,
  .btn-primary {
    width: 300px;
    height: 40px;
    margin: 9px 20px;
  }

  .get-started {
    display: block;
  }
  img#background-image {
    height: 6%;
    margin: 0px -560px;
  }
  .product-details h1 {
    font-size: 17px;
    text-align: center;
    line-height: 1.5;
  }
  .product-details {
    margin: 0px;
    padding: 0px;
  }
  .product-details p {
    font-size: 15px;
    opacity: 0.7;
    margin: 10px;
  }

  .fylo-link {
    margin: 40px 100px;
  }
  .fylo-link a {
    font-size: 14px;
    text-decoration: none;
  }
  .arrow-icon {
    margin-top: 10px;
    height: 18px;
  }
  .fylo-review {
    width: 100%;
    padding: 0px;
  }

  .fylo-review p {
    font-size: 13px;
  }
  .review {
    padding: 19px;
  }
  .fylo-founder img {
    width: 35px;
  }
  .fylo-founder h4 {
    font-size: 15px;
  }
  .content-img {
    height: 300px;
  }
  .sign-up {
    padding: 40px !important;
  }

  .sign-up h2 {
    font-size: 20px;
    text-align: center;
  }

  .sign-up p {
    font-size: 14px;
    text-align: center;
    opacity: 0.8;
  }

  .sign-up input {
    width: 280px;
    height: 35px;
    margin: 0px 0px;
  }
  .sign-up .btn-primary {
    width: 280px;
    height: 35px;
    margin: 0px 0px;
  }
  .contact-section {
    padding: 20px;
  }
  .contact-section li {
    font-size: 14px;
  }
  .fylo-logo-white {
    width: 55%;
  }
  .social-links {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  footer .social-links a {
    margin: 0px 10px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
  }
}
